.side-bar {
  background: $primary;
  height: 100%;
  padding: 0.5em 1.5em 0.5em 0.5em;
  &-logo > img {
    margin: 31px auto 31px 36px;
  }

  .q-item {
    height: 40px;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
    &__section {
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.01em;
    }
    &__section--side {
      margin-right: -18px;
    }
    &:hover {
      // border: 0.1px solid grey;
    }
  }
  &-dots {
    right: -2px;
    top: 11px;
    position: absolute;
  }
}
.exact-active-class {
  background: #6f0678;
}
