.table-list {
  thead {
    background: #e7e3f9;
    th {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      letter-spacing: -0.01em;
      text-transform: capitalize;

      color: #2a2e42;
    }
  }
}
